*{margin:0;padding:0;}
html,body,#app,.wrapper{
    width:100%;
    height:100%;
    overflow: scroll;
}
body{
    font-family:"Helvetica Neue",Helvetica, "microsoft yahei", arial, STHeiTi, sans-serif;
}
a{text-decoration: none}

div.charts .vue-echarts{
    height: 300px;
}

div.charts{
    background-color: #EEF1F6;
    border: 2px solid #EEF1ea;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

.row-section{
    margin: 15px 2px;
}

.el-table th{
    padding: 0 0;
}

.el-table th > .cell{
    padding: 0 0;
}

.el-table td{
    padding: 0 0;
}

.el-table td > .cell{
    padding: 0 0;
}

.title-tag span.el-tag{
    font-size: 18px;
    font-weight: bold;
}

div.process-detail{
    font-size: 14px;
    color: #20a0ff;
}
